<?xml version="1.0"?>
<!-- ****** cameras ****** -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find husky_description)/urdf/accessories/simple_camera.urdf.xacro" />
  <xacro:simple_camera camera_name="camera1" parent_link="top_plate_link" >
    <origin xyz="0.16 0.16 0.16" rpy="0 0 0" />
  </xacro:simple_camera>
</robot>
